.App {
  text-align: center;
}

.App-link {
  color: #515455;
}

.inputForm {
  font-size: 1.4em;
  color: black;
  outline: 0;
  border-color: grey;
  margin: auto auto;
  width: 100%;
  padding-top: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0.1em;
}

.inputForm:focus {
  border-color: #76c9cf
}

.container #eyeIcon{
  margin-left: -30px;
  /* cursor: pointer; */
}

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

.log-form input:focus {
  outline: none;
}
.log-form .btn {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1ba0a9;
  /* padding: 0.5em 2em; */
  color: white;
  width: 100%;
  height: 3em;
  margin-right: 0.5em;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.log-form .btn:hover {
  background: #23cad5;
}

.log-form .btn:focus {
  outline: none;
}
.log-form .forgot {
  color: grey;
  position: relative;
  text-decoration: underline;
  font-size: 0.75em;
  margin: 0;
  padding: 9px;
  margin-bottom: 9px;;
  float: right;

}

.label {
  color: grey;
  line-height: 0.5em;
  position: relative;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: left;
}

.error {
  color: "red";
  font-size: 0.75em;
  text-align: center;
}